{{define "title"}}Register{{end}}

{{define "main"}}
<h2>Register</h2>
<form action='/auth/register' method='POST' novalidate>
    <div>
        <label>Userame:</label>
        <input type='text' name='name'>
    </div>
    <div>
        <label>Email:</label>
        <input type='email' name='email'>
    </div>
    <div>
        <label>Password:</label>
        <input type='password' name='password'>
    </div>
    <div>
        <input type='submit' value='Register'>
    </div>
</form>

{{end}}
