package partial

templ Navbar() {
 <nav>
    <a href='/'>Home</a>
    <a href="/test">Test API</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/auth/register">Register</a>
    <a href="/auth/login">Login</a>
</nav>
}
