package layout

import "github.com/jpecheverryp/budget-track/views/partial"
import "github.com/jpecheverryp/budget-track/views"

templ Base(pageData views.PageData) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Budget-Track</title>
		</head>
		<body>
			@partial.Navbar()
			{ children... }
			@partial.Flash(pageData.Flash)
		</body>
	</html>
}
