package layout

import "github.com/jpecheverryp/budget-track/views/partial"

templ Base(flashMessage string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Budget-Track</title>
		</head>
		<body>
			@partial.Navbar()
			{ children... }
			@partial.Flash(flashMessage)
		</body>
	</html>
}
