package page

import "github.com/jpecheverryp/budget-track/views/layout"
import "github.com/jpecheverryp/budget-track/views"

templ MainDashboard(pageData views.PageData) {
	@layout.Dashboard(pageData) {
		<p>
			Hello Dashboard
		</p>
	}
}
