package page

import "github.com/jpecheverryp/budget-track/views/layout"
import "github.com/jpecheverryp/budget-track/views"

templ Home(pageData views.PageData) {
	@layout.Guest(pageData) {
		<h1>Budget-Track Home</h1>
		<p>
			There's nothing to see her yet
		</p>
	}
}
