package page

import "github.com/jpecheverryp/budget-track/views/layout"
import "github.com/jpecheverryp/budget-track/internal/repository"

type TestPageData struct {
	Accounts     []repository.Account
	UserAccounts []repository.GetAllUsersRow
}

templ TestAPI(testPageData TestPageData, flashMessage string) {
	@layout.Guest(flashMessage) {
		<h1>API Test Page</h1>
		<h2>Accounts:</h2>
		<table>
			<tr>
				<th>ID</th>
				<th>Account Name</th>
			</tr>
			for _, account := range testPageData.Accounts {
				<tr>
					<td>{ account.ID.String() }</td>
					<td>{ account.Name }</td>
				</tr>
			}
		</table>
		<form action="/accounts/create" method="post">
			<input name="account-name" type="text" placeholder="Wealthfront"/>
			<button type="submit">New Account</button>
		</form>
		<h2>Users:</h2>
		<table>
			<tr>
				<th>ID</th>
				<th>Username</th>
				<th>Email</th>
			</tr>
			for _, userAccount := range testPageData.UserAccounts {
				<tr>
					<td>{ userAccount.ID.String() }</td>
					<td>{ userAccount.Username }</td>
					<td>{ userAccount.Email }</td>
				</tr>
			}
		</table>
		<h2>Transactions: </h2>
		<table>
			<tr>
				<th>ID</th>
				<th>Transaction Name</th>
			</tr>
			<tr>
				<td>123</td>
				<td>Transaction Name</td>
			</tr>
		</table>
	}
}
